@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@700&display=swap');
body {
    background-color: #EAE7DC;
    font-family: 'Noto Serif TC', serif;
    color: #20313F;
    width: 100%;
}

.brand {
    text-align: center;
}

.brand a {
    position: relative;
    top: 1em;
    text-decoration: none;
    color: #20313F;
}